@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap');

:root {
    --overlay--color: #03a9fa;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'BIZ UDGothic', sans-serif;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.about{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
    top: 100vh;
}

.contact{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
    top: 200vh;
}

.about.active{
    right: 200px;
}

.showcase.active{
    right: 200px;
}

.contact.active{
    right: 200px;
}

.showcase header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    filter: invert(100%);
}

.toggle.active{
    background: url(menu.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    margin-right: 25px;
    filter: invert(0%);
}

.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.about video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.contact video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.text{
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight:  800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 3em;
    font-weight:  700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover{
    letter-spacing: 6px;
}

.text2 {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 100px;
    z-index: 10;
}

.text2 h2{
    font-size: 5em;
    margin-top: 300px;
}

.text2 p{
    font-size: 1.1em;
}

.text3 {
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    max-width: 700px;
}

.text3 h2{
    font-size: 5em;
}

.text3 ul{
    margin-top: 25px;
    list-style: none;
}

.text3 ul li a{
    text-decoration: none;
    font-size: 44px;
    color: #fff;
}

.text3 ul li a:hover{
    color: var(--overlay--color);
    letter-spacing: 6px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover{
    color: var(--overlay--color)
}

@media(max-width: 991px){
    .showcase, .showcase header{
        padding: 40px
    }

    .text h2{
        font-size: 3em;
    }

    .text2 h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }
}
